# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-15

    steps:
    - uses: actions/checkout@v4

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Swift Version
      run: swift -version
   # - name: Build
   #   run: swift build -Xswiftc "-sdk" -Xswiftc "`xcrun --sdk iphonesimulator --show-sdk-path`" -Xswiftc "-target" -Xswiftc "x86_64-apple-ios14.0-simulator"
      #run: xcodebuild -destination "platform=iOS Simulator,name=iPhone SE (3rd generation),OS=18.1" -scheme DataCapturing SYMROOT="./build" build
    - name: Build & Test
      run: xcodebuild clean test -scheme "DataCapturing" -destination "platform=iOS Simulator,name=iPhone SE (3rd generation),OS=18.4" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO

    - name: Archive Test Log
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-log
        path: /Users/runner/Library/Developer/Xcode/DerivedData/**/Logs/Test/*.xcresult

